<robot name = "robot">
    <link name="Torso">
        <inertial>
            <origin xyz="0 -10 1.3355874681841438" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -10 1.3355874681841438" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -10 1.3355874681841438" rpy="0 0 0"/>
            <geometry>
                <box size="1 1 1" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_BackLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="BackLeg"/>
       <origin rpy="0 0 0" xyz="0 -10.5 1.3355874681841438" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLeg">
        <inertial>
            <origin xyz="0 -0.6541193830310625 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 -0.6541193830310625 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.308238766062125 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 -0.6541193830310625 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 1.308238766062125 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_FrontLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="FrontLeg"/>
       <origin rpy="0 0 0" xyz="0 -9.5 1.3355874681841438" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLeg">
        <inertial>
            <origin xyz="0 0.2550277914765576 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0.2550277914765576 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5100555829531151 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0.2550277914765576 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.5100555829531151 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_LeftLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="LeftLeg"/>
       <origin rpy="0 0 0" xyz="-0.5 -10 1.3355874681841438" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLeg">
        <inertial>
            <origin xyz="-0.6410924161261056 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="-0.6410924161261056 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2821848322522111 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="-0.6410924161261056 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="1.2821848322522111 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="Torso_RightLeg" type="revolute">
       <parent link="Torso"/>
       <child  link="RightLeg"/>
       <origin rpy="0 0 0" xyz="0.5 -10 1.3355874681841438" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLeg">
        <inertial>
            <origin xyz="0.27312643716167684 0 0" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0.27312643716167684 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5462528743233537 0.2 0.2" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0.27312643716167684 0 0" rpy="0 0 0"/>
            <geometry>
                <box size="0.5462528743233537 0.2 0.2" />
            </geometry>
        </collision>
    </link>
    <joint name="BackLeg_BackLowerLeg" type="revolute">
       <parent link="BackLeg"/>
       <child  link="BackLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 -1.308238766062125 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="BackLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6677937340920719" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6677937340920719" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3355874681841438" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6677937340920719" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.3355874681841438" />
            </geometry>
        </collision>
    </link>
    <joint name="FrontLeg_FrontLowerLeg" type="revolute">
       <parent link="FrontLeg"/>
       <child  link="FrontLowerLeg"/>
       <origin rpy="0 0 0" xyz="0 0.5100555829531151 0" />
     <axis xyz="1 0 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="FrontLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.27358268858756796" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.27358268858756796" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5471653771751359" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.27358268858756796" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 0.5471653771751359" />
            </geometry>
        </collision>
    </link>
    <joint name="LeftLeg_LeftLowerLeg" type="revolute">
       <parent link="LeftLeg"/>
       <child  link="LeftLowerLeg"/>
       <origin rpy="0 0 0" xyz="-1.2821848322522111 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="LeftLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.5538251966499479" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.5538251966499479" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.1076503932998958" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.5538251966499479" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.1076503932998958" />
            </geometry>
        </collision>
    </link>
    <joint name="RightLeg_RightLowerLeg" type="revolute">
       <parent link="RightLeg"/>
       <child  link="RightLowerLeg"/>
       <origin rpy="0 0 0" xyz="0.5462528743233537 0 0" />
     <axis xyz="0 1 0"/>
       <limit effort="0.0" lower="-3.14159" upper="3.14159" velocity="0.0"/>
    </joint>
    <link name="RightLowerLeg">
        <inertial>
            <origin xyz="0 0 -0.6433827627541697" rpy="0 0 0"/>
            <mass value="1" />
            <inertia ixx="100" ixy="0" ixz="0" iyy="100" iyz="0" izz="100" />
        </inertial>
        <visual>
            <origin xyz="0 0 -0.6433827627541697" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2867655255083394" />
            </geometry>
            <material name="Cyan">
                <color rgba="0 1.0 1.0 1.0"/>
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 -0.6433827627541697" rpy="0 0 0"/>
            <geometry>
                <box size="0.2 0.2 1.2867655255083394" />
            </geometry>
        </collision>
    </link>
</robot>